/* Episodio 1: Contenedores */
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

header{
    background-color: #DB1D24;
    width: 100%;
    height: 15rem;
    position: relative;
}

.main-content{
    width: 100%;
    height: 60rem;
    display: inline-block;
}

.main-child{
    display: inline-block;
}

.aside{
    background-color: aqua;
    width: 15%;
    height: 60rem;
}

.centre{
    background-color: mediumpurple;
    width: 85%;
    height: 60rem;
    position: absolute;
}

footer{
    background-color: orange;
    width: 100%;
    height: 20rem;
}


/* Episodio 2: Desarrollando la cabecera */

#logo{
    height: 8rem;
    width: 15rem;
    cursor: pointer;
}

#search-icon{
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}


.header-child{
    display: inline-block;
    vertical-align: middle;
    margin-top: 2rem;
}

.navbar{
    list-style: none;
    padding: 0;
    background-color: black;
    height: 3.5rem;
    position: relative;
}

.navbar li{
    display: inline-block;
    color: white;
    font-size: 1.3rem;
    padding: 0.87rem 5.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.navbar li:last-child{
    position: absolute;
    right: 0;
}

nav{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#title{
    font-size: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    left: 12rem;
    top: 1rem;
    font-stretch: ultra-condensed;
    cursor: pointer;
}

#search{
    height: 4rem;
    width: 60rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #B5B5B5;
    padding-left: 1rem;
}

header div div{
    position: relative;
    margin-left: 32rem;
}

header div{
    position: relative;
}

.navbar li:hover{
    background-color: #272727;
}








