/* Fase 1 Adaptaciones en el Header  */

.icon-one img{
    display: none;
}

.icon-two div img{
    width: 1.6rem;
    height: 1.6rem;
}

.user-photo img{
    width: 3.2rem;
    height: 3.2rem;
}

.icon-two{
    flex-grow: 0;
}

.list-menu{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.list-menu ul li{
    text-transform: capitalize;
}

.list-menu ul li:nth-child(2) a{
    display: block;
}

.list-menu ul li:nth-child(1) {
    display: none ;
}

.list-menu ul li a{
    font-size: 1.3rem;
}

.icon-two div, .user-photo div{
    width: 3.7rem;
    height: 3.7rem;
}

header{
    margin-top: 1.3rem;
}

.user-photo {
    margin-right: 1.4rem;
    margin-left: 1rem;
}

.icon-two{
    margin-left: 1rem;
}

.list-menu ul li:hover{
    text-decoration: underline;
}


/* Fase 2 Adaptaciones en el Main  */

.main-logo{
    width: 28rem;
    height: 15rem;
    margin-top: 8rem;
    margin-bottom: 0;
}

.main-logo img{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.search-control-outer{
    max-width: 58em;
    width: 58rem;
}

.search-control-border{
    height: 4.5rem;
}

.search-control-border input{
    width: 45rem;
}

.search-control-part1{
    width: 4.3rem;
}

.searching-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.voice-searching{
    width: 2.5rem;
    height: 2.5rem;
}

.main-button{
    display: block;
    height: 3.5rem;
    background-color: #F8F9FA;
    border-radius: 0.4rem;
    cursor: pointer;
}

.search-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-bottom: 2.8rem;
}

.search-control section{
    display: flex;
    column-gap: 1.2rem;
}

.first-button{
    width: 12.3rem;
}

.second-button{
    width: 14.2rem;
}

.text-customize{
    flex-direction: row;
    column-gap: 1rem;
    margin-bottom: 22.25rem;
}

.text-1{
    margin-bottom: 0;
}

.text-1 p{
    font-size: 1.3rem;
    font-weight: 400;
}

.blue-text p a{
    font-size: 1.3rem;
    font-weight: 400;
}

.blue-text{
    column-gap: 1rem;
}

.search-control-border:hover{
    box-shadow: 0px 2px 6px 2px #E2E2E3;
}

.main-button:hover{
    border: solid 0.1rem #E2E2E3;
    box-shadow: 0px 1px 2px 0px #E2E2E3;
}

.search-control-part3 div:nth-child(2){
    cursor: pointer;
}

.blue-text p a:hover{
    text-decoration: underline;
}

.search-control-border input{
    outline: none;
}

/* Fase 3 Adaptaciones en el Footer */

.first-text{
    height: 5rem;
    padding-left: 3rem;
}

.empty-text{
    display: none;
}

.new-child{
    display: flex;
    margin-top: 1.37rem;
    margin-bottom: 1.37rem;
    justify-content: space-between;
}

.second-list li:nth-child(4) a{
    display: block ;
}

.first-list{
    order: 2;
    padding-right: 3.5rem;
}

.second-list{
    order: 1;
    padding-left: 3.5rem;
}

.first-list a, .second-list a{
    font-size: 1.4rem;
    font-weight: 600;
}

.first-list, .second-list{
    margin-top: 0;
    margin-bottom: 0;
}

.second-list ul li:nth-child(1){
    order: 2;
}

.second-list ul li:nth-child(2){
    order: 3;
}

.second-list ul li:nth-child(3){
    order: 1;
}

.second-list ul li:nth-child(4){
    order: 4;
}

.first-list li:nth-child(1) a{
    display: none;
}

.first-list ul li:nth-child(2){
    order: 3;
}

.first-list ul li:nth-child(3){
    order: 1;
}

.first-list ul li:nth-child(4){
    order: 2;
}

.first-text p{
    font-size: 1.5rem;
}

.first-list a:hover, .second-list a:hover{
    text-decoration: underline;
}